@import "tailwindcss";

/* i.i-icon{
    --un-icon: var(--icon, url(/me.png));
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    display: inline-block;
    width: 1.2em;
    height: 1.2em;
    vertical-align: text-bottom;
    margin-right: 2px;
} */

@layer base {
    [icon] {
        display: inline;
        width: 1.2em;
        height: 1.2em;
        fill: currentColor;
        vertical-align: text-bottom;
    }
}
@utility grid-autofill-* {
    grid-template-columns: repeat(
        auto-fill,
        minmax(calc(--value(integer) * 1px), 1fr)
    );
}

.n-card {
    width: auto;
}
.n-button + .n-button {
    @apply ml-2;
}
.n-submenu {
    user-select: none;
}

@property --home-header-height {
    syntax: "<length>";
    initial-value: 55px;
    inherits: false;
}

.router-view {
    animation: fade-in 0.5s ease-in-out;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

::highlight(highlight-results) {
    color: oklch(45.203% 0.3133 264.073);
}
