[class^="i-"] {
    --un-icon: var(--icon, url(/me.png));
    -webkit-mask: var(--un-icon) no-repeat;
    mask: var(--un-icon) no-repeat;
    -webkit-mask-size: 100% 100%;
    mask-size: 100% 100%;
    background-color: currentColor;
    color: inherit;
    display: inline-block;
    width: 1em;
    aspect-ratio: 1;
    vertical-align: text-bottom;
    margin-right: 2px;
}
.i-ArrowForwardIosOutlined {
    --un-icon: url(../icons/ArrowForwardIosOutlined.svg);
}
.i-AddCircleOutlined {
    --un-icon: url(../icons/AddCircleOutlined.svg);
}
.i-FileCopyRound {
    --un-icon: url(../icons/FileCopyRound.svg);
}
.i-DeleteRound {
    --un-icon: url(../icons/DeleteRound.svg);
}